:root {
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-bg-body: #eceff1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: 'Open Sans', sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 1em;
  line-height: 1.5;
  background-color: var(--clr-bg-body);
  color: var(--clr-black);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

a:hover {
  border-bottom: 1.5px solid var(--clr-black);
}

p {
  font-size: 0.8em;
}

.portfolio-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 1em;
}
